@import url(https://fonts.google.com/specimen/Mooli);

:root {
    --primary-color: #219EBC;
    --secondary-color: #8ECAE6;
    --accent1-color: #023047;
    --accent2-color: #FFB703;
  
    --heading-font: 'Mooli', sans-serif;
    --paragraph-font: 'Mooli', sans-serif;
  
    --nav-background-color: #023047;
    --nav-link-color: #FFB703;
    --nav-hover-link-color: #219EBC;
    --nav-hover-background-color: #8ECAE6;
  }
  
  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }
  
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }

  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }

  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }

  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }